<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Speech Recog</h1>
        <form action="http://192.168.1.4:5000/mic" method="post">
            <input type="submit" value="Click me" />
        </form>
        <h1>your output</h1>
        <p style="font-size: 45px; color:black">{{ mic }}</p>
        
       
        
</body>
</html>